asgiref
asttokens
backcall
certifi
charset-normalizer
colorama
contourpy
cycler
debugpy
decorator
distlib
Django
django-environ
entrypoints
executing
filelock
fonttools
idna
ipykernel
ipython
jedi
joblib
jupyter-core
jupyter_client
kiwisolver
lazy_loader
littleutils
matplotlib
matplotlib-inline
nest-asyncio
numpy
outdated
packaging
pandas
pandas-flavor
parso
patsy
pickleshare
Pillow
pingouin
platformdirs
prompt-toolkit
psutil
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
requests
scikit-learn
scipy
seaborn
six
sklearn
sqlparse
stack-data
statsmodels
tabulate
threadpoolctl
tornado
traitlets
tzdata
urllib3==1.26.12
virtualenv
wcwidth
xarray