{% extends 'base.html' %}
{% block title %}
Listado de ANALISIS DE RIESGO
{% endblock %} 
{% block content %}  


<p> </p>
<p> </p> 
<h1 class="text-light bg-dark">Listado de ANALISIS DE RIESGO:</h1>
<p> </p>
<p> </p> 
<p> </p>
<p> </p> 
{% if request.user.is_superuser %} 
    <a href="/ADR/create_adr/"    class="btn btn-primary" >Crear ADR</a>
    <p> </p>
    <p> </p>
    <p> </p>  
{% endif %} 
<form action ="" method = "POST" enctype = "multipart/form-data"></form>
<div>    
<div class="table-responsive-sm">
<table class="table  table-bordered table-striped table-hover text-center table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Fecha Presentado</th>
        <th scope="col">Titulo</th>
        <th scope="col">Estado</th>
        <th scope="col">Fecha Aprobado</th>
        <th scope="col">Archivo</th>        
        <th scope="col">Actualizar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>   
       
        {% for adr in adrs %}            
            <tr>
                <th scope="row">{{adr.id}}</th>
                <td>{{adr.fecha_presentado}}</td>
                <td>{{adr.titulo}}</td>                
                {% if adr.estado == 'PRESENTADO' %}
                <td><a href="#" class="btn btn-danger">PRESENTADO</a></td>
                {% else%}
                <td><a href="#" class="btn btn-success">APROBADO</a></td>
                {% endif %} 
                <td>{{adr.fecha_aprobado}}</td>
                
                <td>{{adr.archivo}}</td> 
                {% if request.user.is_superuser %}
                    <td><a href="/ADR/update_adr/{{adr.id}}/" class="btn btn-primary">Actualizar</a></td> 
                    <td><a href="/ADR/delete_adr/{{adr.id}}/" class="btn btn-danger">Eliminar</a></td> 
                {% endif %}
                
            </tr>
        {% endfor %}      
      
        
    </tbody>
</table>
</div>
 


    {% endblock %} 