{% extends 'base.html' %}
{% block title %}
Crear CURSOS DE CAPACITACION
{% endblock %} 

{% block content %}
    <p> </p>
    <p> </p> 
    <h1>   Crear CURSOS DE CAPACITACION </h1>
    <p> </p>
    <p> </p> 
    <p> </p>
    <p> </p> 
    {% if form %}
    
        <form action ="" method = "POST" enctype = "multipart/form-data">
            
        {% csrf_token %}
            <table>
            {{form.as_table}}
            </table>

            <input type="submit" value = "Crear CURSOS DE CAPACITACION">
        </form> 

    {% endif %}

    {% if form_errors %}
        <h2 style = "color: red"> Listado de Errores: </h2>
        {{form_errors}}    
    {% endif %}

    {% if message %}
    <h2 style = "color: green"> {{message}} </h2>       
    {% endif %}
    
{% endblock %}