{% extends 'base.html' %}
{% block title %}
Listado de CURSOS DE CAPACITACION
{% endblock %} 
{% block content %}  


<p> </p>
<p> </p> 
<h1 class="text-light bg-dark">Listado de CURSOS DE CAPACITACION:</h1>
<p> </p>
<p> </p> 
<p> </p>
<p> </p> 
{% if request.user.is_superuser %} 
    <a href="/CAPACITACION/create_capacitacion/"    class="btn btn-primary" >Crear CAPACITACION</a>
    <p> </p>
    <p> </p>
    <p> </p>  
{% endif %} 
<form action ="" method = "POST" enctype = "multipart/form-data"></form>
<div>    
<div class="table-responsive-sm">
<table class="table  table-bordered table-striped table-hover text-center table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Fecha Capacitacion</th>
        <th scope="col">Orden</th>
        <th scope="col">Titulo</th>
        <th scope="col">PDF</th>        
        <th scope="col">Actualizar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>   
       
        {% for capacitacion in capacitaciones %}            
            <tr>
                <th scope="row">{{capacitacion.id}}</th>
                <td>{{capacitacion.fecha_capacitacion}}</td>
                <td>{{capacitacion.orden}}</td>
                <td>{{capacitacion.titulo}}</td>
                <td>{{capacitacion.pdf}}</td>         
                
                {% if request.user.is_superuser %}
                    <td><a href="/CAPACITACION/update_capacitacion/{{capacitacion.id}}/" class="btn btn-primary">Actualizar</a></td> 
                    <td><a href="/CAPACITACION/delete_capacitacion/{{capacitacion.id}}/" class="btn btn-danger">Eliminar</a></td> 
                {% endif %}
            </tr>
        {% endfor %}      
      
        
    </tbody>
</table>
</div>
 


    {% endblock %} 