{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    
    <meta charset="utf-8">
    <meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="Zenix - Crypto Admin Dashboard">
	<meta property="og:title" content="Zenix - Crypto Admin Dashboard">
	<meta property="og:description" content="Zenix - Crypto Admin Dashboard">
	<meta property="og:image" content="https://zenix.dexignzone.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">
    <title>SO -  Seguridad Operacional AEP </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
	<link href="{% static 'vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body class="vh-100">
    <div class="authincation h-100">        
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-3">
										<img src="images/logo-full.png" alt="">
									</div>
                                    <h4 class="text-center mb-4">Creación PNSO</h4>
                                    {% if errors %}
                                    <div class="alert alert-danger" role = "alert">
                                        {{errors}}
                                    </div>
                                    {% endif %}
                                    <form action="/PNSO/create_pnso/" method="post" enctype = "multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Nro</strong></label>
                                            <input type="int" class="form-control col-md-4" placeholder="nro..." name="nro">
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Fecha Recibido</strong></label>
                                            <input type="date" class="form-control" placeholder="01/01/2023" name="fecha_recibido">
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Fecha Evento</strong></label>
                                            <input type="date" class="form-control" placeholder="01/01/2023" name="fecha_evento">
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Texto</strong></label>
                                            <textarea class="form-control" name="texto" rows = "3" ></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Fecha Respuesta</strong></label>
                                            <input type="date" class="form-control" placeholder="01/01/2023" name="fecha_respuesta">
                                        </div>  
                                        <div class="form-group">
                                            <label for="availability">Estado</label>
                                            <select class="form-control"  name="estado">
                                                <option >AA - NO CUENTA CON INFORMACION SUFICIENTE</option>
                                                <option >BB - NO REQUEIRE ACCION DE MITIGACION</option>
                                                <option >CC - ACCION DE MITIGACION EN CURSO</option>
                                                <option >DD - MITIGACION CONCLUIDA</option>
                                                <option >NN - NO CORRESPONDE SER TRAMITADO COMO PNSO</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Mitigacion</strong></label>
                                            <textarea class="form-control" name="mitigacion" rows = "3" ></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Cierre</strong></label>
                                            <input type="text" class="form-control" placeholder="..." name="cierre">
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Foto</strong></label>
                                            <input type="file" class="form-control" name="image_pnso">
                                        </div>

                                        <div class="text-center">
                                            <div class="btn-group"  role="group" aria-label="Basic example">
                                                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                                                <button type="reset" class="btn btn-light">Restablecer</button>                                            
                                            </div>
                                        </div>                                       
     
                                    </form>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="{% static 'vendor/global/global.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
	<script src="{% static 'js/deznav-init.js' %}"></script>
    <script src="{% static 'js/demo.js' %}"></script>
    
</body>
</html>