{% extends 'base.html' %}
{% block title %}
Listado de PNSO
{% endblock %} 
{% block content %}  

<p> </p>
<p> </p> 
<h1 class="text-light bg-dark">Listado de PNSO:</h1>
<p> </p>
<p> </p> 
<p> </p>
<p> </p> 
{% if request.user.is_superuser %} 
    <a href="/PNSO/create_pnso/"    class="btn btn-primary" >Crear PNSO</a>
    <p> </p>
    <p> </p>
    <p> </p>  
{% endif %} 
<form action ="PNSO/list_pnso/" method = "POST" enctype = "multipart/form-data"></form>
<div>    
<div class="table-responsive-sm">
    
<table class="table  table-bordered table-striped table-hover text-center table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nro PNSO</th>
        <th scope="col">Fecha Recibido</th>
        <th scope="col">Fecha Evento</th>
        <th scope="col">Texto</th>
        <th scope="col">Fecha Respuesta</th>
        <th scope="col">Estado</th>
        <th scope="col">Mitigacion</th>
        <th scope="col">Cierre</th>
        <th scope="col">Foto</th>
        <th scope="col">Actualizar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>   
       
        {% for pnso in pnsos %}            
            <tr>
                <th scope="row">{{pnso.id}}</th>
                <td>{{pnso.nro}}</td>
                <td>{{pnso.fecha_recibido}}</td>
                <td>{{pnso.fecha_evento}}</td>
                <td>{{pnso.texto}}</td>
                <td>{{pnso.fecha_respuesta}}</td>
                <td>{{pnso.estado}}</td>
                <td>{{pnso.mitigacion}}</td>
                <td>{{pnso.cierre}}</td>
                <td>{{pnso.image_pnso}}</td>
                {% if request.user.is_superuser %}
                    <td><a href="/PNSO/update_pnso/{{pnso.id}}/" class="btn btn-primary">Actualizar</a></td> 
                    <td><a href="/PNSO/delete_pnso/{{pnso.id}}/" class="btn btn-danger">Eliminar</a></td> 
                {% endif %}
            </tr>
        {% endfor %}      
      
        
    </tbody>
</table>
</div>
 


    {% endblock %} 